<!-- BASE -->
<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/html" xmlns = "http://www.w3.org/1999/html">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "description" content = "Join Our Story Website">
    <meta name = "author" content = "Ad Sim">
    <link rel = "icon" href = "static/img/favicon.ico">

    {% include "base/scripts.html" %}



    <!-- GOOGLE ANALYTICS
	<script>
		(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55492303-1', 'auto');
        ga('send', 'pageview');
	</script> -->

    <style>

        .container-fluid {
            width: 1024px;
            background-color: white;
            border: solid #ebebeb 3px;
            margin-left: 15px;
        }

    </style>

    <title>JoinOurStory.com | Enter</title>   <!-- change -->
</head>
<body>
<div class = "container-fluid" style = "float: left; padding: 15px;" id = "entercontainer">
    <div class = "row" style = "position: fixed; top: 0; left: 40px; height: 130px; width: 1011px; background: white; z-index: 1030;">
         <div class = "col-xs-5"><!-- Logo -->
             <img src = "static/img/JOSLogo010115.png" alt = "JOS Logo" style = "margin-top: 20px; opacity: 0.95; width: 100%;">
         </div>
         <div class = "col-xs-7"><!-- magnification buttons -->
            <table style = "width:65%; margin-left: auto; margin-right: -5px; margin-top: 20px">
                  <tr>
                    <td><span class = "fa fa-search fa-fw"></span>Magnify:</td>
                    <td><button type = "button" class = "btn btn-default btn-lg" href = "#"><span
                            class = "fa fa-plus-circle fa-fw"></span>Bigger</button></td>
                    <td><button type = "button" class = "btn btn-default" href = "#"><span class = "fa fa-minus-circle fa-fw"></span>Smaller</button></td>
                  </tr>
            </table>
         </div>
     </div>

    <div class = "row"><!-- Navigation Bar -->
        <div class = "col-xs-12">
             <ul class = "nav nav-pills navbar-inverse navbar-fixed-top" style = "margin-top: 130px; margin-left:18px; width:1018px;" role = "navigation">
                 <li style="text-align: center; background-color: #5CB85C; width: 250px;">
                     <a style="color: white;" href = "#">Member Log In</a></li><!-- change to name and log out -->
                 <li style ="text-align: center; width: 452px;"><a style = "color: white;" href = "#">Watch Latest Episode</a></li>
                 <li class = "pull-right" style = "text-align: center; width: 155px; background-color: #F0AD4E;"><a
                                          style = "color: white;" href = "#">Join</a></li>
                 <li class = "pull-right" style = "text-align: center; width: 155px; background-color: #5bc0de;"><a style = "color: white;" href = "#">Contact Us</a></li>

            </ul>
        </div>
    </div>

    <!-- Main Screen -->
    {% block body %}{% endblock %}

    <div class = row"><!-- footer -->
        {% include "base/footer.html" %}
    </div>
</div>
</body>
</html>