


// Three primary colors with variants that all mixins use.

// Colors

@body-bg: #ffffff;

@josGreen:rgb(102, 204, 51);
@josBlue: rgb(51, 204, 204);
@josRed:  rgb(255, 51, 51);

// Typography

@font-family-sans-serif: "Lato";
@font-family-serif: "EB Garamond";
@font-size-base: 18px;

* {
  font-family: @font-family-serif;
}








