// hello


@import "bootstrap/bootstrap.less";

@import "myvariables.less";

// @import "font-awesome/font-awesome.less";

// @import "mixins.less";
// @import "nav.less";
// @import "header.less";
// @import "footer.less";
// @import "home.less";
// @import "nav.less";


// EXPERIMENTS

.josheading {
  font-family: @font-family-sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.josbody {
  font-family: @font-family-serif;
  overflow: auto;
}

.border-radius (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

.gray(@percent) {
  color: lighten(@black, percentage(@percent / 100));
}


.josbox(@color) {
  background-color: fade(@color, 7.5%);
  padding: 7.5%;
  border: .75em solid fade(@color, 80%);
  .border-radius(.5em);
  .box-shadow(.2em, .2em, .4em, 0.5);
}

.josboxred {
  .josbox(@josRed)
}

.josboxblue {
  .josbox(@josBlue)
}

/*



*/

