
// TODO: Make Bootstrap Row or JOS Box Responsive; Check Device Response; Setup Navbar; Change Graphics to SVG

@import "bootstrap/bootstrap.less";

@import "myvariables.less";

// @import "font-awesome/font-awesome.less";

// @import "mixins.less";
// @import "nav.less";
// @import "header.less";
// @import "footer.less";
// @import "home.less";
// @import "nav.less";


// EXPERIMENTS

@josGreen:  rgb(102, 204, 51);
@josBlue:   rgb(51, 204, 204);
@josRed:    rgb(255, 51, 51);

// Typography

@font-family-sans-serif: "Lato";
@font-family-serif: "EB Garamond";

// Body and Basic Elements

body {
  background-color: #ebebeb;
  font-family: @font-family-serif;
  font-size: 20pt;


  @media (max-width: @screen-sm) {
    font-size: 16pt;
  }

  @media (max-width: @screen-xs) {
    font-size: 12pt;
  }
}

.josheading {
  font-family: @font-family-sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.josbody {
  line-height: 1.2em;
}

// Elements

p {
  margin: 0 0 .4em;
}

ul {
  display: block;
  list-style-type: disc;
  line-height: 1.1em;
  margin: 1em 0;
  padding-left: 1.5em;
}

// JOS Box

.border-radius (@radius: 10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

.josbox(@color) {
  background-color: #ffffff;
  padding: 2em 2em 1.25em;
  border: .25em solid fade(@color, 80%);
  .border-radius(1.5em);
  .box-shadow(.1em, .1em, .2em, 0.5);
}

.josboxred {
  .josbox(@josRed)
}

.josboxblue {
  .josbox(@josBlue)
}

/*



*/

