// hello


@import "bootstrap/bootstrap.less";

@import "myvariables.less";

// @import "font-awesome/font-awesome.less";

// @import "mixins.less";
// @import "nav.less";
// @import "header.less";
// @import "footer.less";
// @import "home.less";
// @import "nav.less";


// EXPERIMENTS

.josbox {
  background-color: white;
  padding: 7.5%;
  border: 1em solid @primaryRed;
}