<!-- contactusresponse.html -->

{% extends "base/base.html" %}

{% block body %}

<!-- Page -->

<div class = "row">
    <div class = "col-xs-10 col-xs-offset-1" style="font-size: 14pt;"><!--Instructions -->

        <p style = "font-family: 'Stalemate', cursive; font-size: 125px; margin-bottom: 0; text-align: center;">Contact Message Response</p>
        <p>Please read the response, then press "OK" to return to the home page.</p>
        <div class="row" style="margin: 30px;">
            <div>
                <p>{{ return_message }}</p>
            </div>
        </div>

        <form action = index.html">
            <input type = "submit" class = "btn btn-lg btn-success pull-right" value = "OK">
        </form>

    </div>
</div>

{% endblock body %}