

{% extends "base/base.html" %}

{% block body %}

<!-- contactus.html -->

<link rel = "stylesheet" href = "static/formvalidation/formvalidation.css">

<!-- Page -->
<div class = "row" style = "margin-top: 100px;">

    <!--Instructions -->
    <div class = "col-xs-10 col-xs-offset-1">
        <p class = "joswelcome" style = "margin-bottom: 30px; text-align: center;">Contact Us</p>
        <p id = "contactforminstructions" class="josheading">Instructions:</p>
        <div id = "contactformsubinstruct" class = "jossubheading">
            <p>Please type into each box, when done press "Review and Send"</p>
            <p>As you type, the computer provides feedback:</p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp<span class = "fa fa-remove fa-fw" style = "color: #a94442;"></span>&nbsp&nbspmeans: read the <span style = "color: #a94442;">red message</span> and makes changes.</p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="fa fa-check fa-fw" style="color: #3c763d"></span>&nbsp&nbspmeans: the computer thinks the box is filled correctly.</p>
        </div>
    </div>
</div>

<!-- Contact Form -->
<form id="contactForm">
    <div class = "row" style = "margin-top: 30px;">
        <div class = "col-xs-4 col-xs-offset-1">
            <div class = "form-group">
                <label for = "firstnamefield">First Name:</label>
                <input type = "text" class = "form-control input-lg" name = "firstnamefield"
                       placeholder = "Your first name" autofocus>
            </div>
        </div>
        <div class = "col-xs-5">
            <div class = "form-group">
                <label for = "lastnamefield">Last Name:</label>
                <input type = "text" class = "form-control input-lg" name = "lastnamefield"
                       placeholder = "Your last name" >
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-xs-9 col-xs-offset-1">
            <div class = "form-group">
                <label for = "emailfield">Email Address:</label>
                <input type = "email" class = "form-control input-lg" name = "emailfield"
                       placeholder = "Your email - something like:  yourname@gmail.com">
            </div>
            <div class = "form-group">
                <label for = "messagefield">Message:</label>
                <textarea class = "form-control input-lg" style = "resize:none;" rows = "10" name = "messagefield" placeholder = "Your message"></textarea>
            </div>
        </div>
    </div>
    <div class = "row" style = "margin-top: 30px; margin-bottom: 30px;">
        <div class = "col-xs-10 col-xs-offset-1">
            <button type = "submit" class = "btn btn-success btn-lg pull-right" id="reviewandsendbutton">Review and Send</button>
        </div>
    </div>

</form>

<!-- Modal -->
<div class = "modal fade" id = "reviewmodal" role = "dialog" aria-labelledby = "review message" aria-hidden = "true" style="background-color: transparent;">
    <div class = "modal-dialog" style = "height: 100%; width: 1024px; background-color: white;">
        <div class = "modal-content" style = "background-color: white; width: 100%;">
            <div class="row">
                <div class = "col-xs-9 col-xs-offset-1">
                    <p class = "joswelcome" style = "margin-bottom: 30px; text-align: center;">Review Message</p>
                    <p class = "josheading">Please Review Your Message:</p>
                    <p class = "jossubheading">&nbsp&nbsp&nbsp&nbsp&nbspIf it looks right, press "Send"</p>
                    <p class = "jossubheading">&nbsp&nbsp&nbsp&nbsp&nbspTo make changes, press "Go Back and Edit"
                    </p>
                </div>
            </div>


            <div class = "row" style="margin-top: 30px;">
                 <div class = "col-xs-9 col-xs-offset-1" style="padding: 50px 0; border: solid black 3px;">
                     <div class="row">
                         <div class="col-xs-3 col-xs-offset-1">
                             First Name:
                         </div>
                         <div class="col-xs-8">
                             <div id="reviewfirstname">x</div>
                         </div>
                     </div>
                     <div class = "row">
                         <div class = "col-xs-3 col-xs-offset-1">
                             Last Name:
                         </div>
                         <div class = "col-xs-8">
                             <div id = "reviewlastname">x</div>
                         </div>
                     </div>
                     <div class = "row">
                         <div class = "col-xs-3 col-xs-offset-1">
                             Email:
                         </div>
                         <div class = "col-xs-3">
                             <div id = "reviewemail">x</div>
                         </div>
                     </div>
                     <div class = "row">
                         <div class = "col-xs-3 col-xs-offset-1">
                             Message:
                         </div>
                         <div class = "col-xs-8">
                             <div id = "reviewmessage">x</div>
                         </div>
                     </div>
                 </div>
            </div>

            <div class = "row" style = "margin-top: 50px;">
                <div class = "col-xs-4 col-xs-offset-8">
                    <button id = "buttonmodalgobackandedit" class = "btn btn-info btn-lg btninreviewmodal" type = "button">Go Back and Edit</button>
                    <button id = "buttonmodalsend" type = "button" class = "btn btn-success btn-lg btninreviewmodal" type = "button" >Send</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<style>.vam {margin-top: 13px;}</style>

<!-- Form Validation Scripts -->
<script src = "static/formvalidation/formvalidation.min.js"></script>
<script src = "static/formvalidation/bootstrap.min.js"></script>

<!-- mailgun: email is valid without dot -->

<script type = "text/javascript">

$(document).ready(function () {
    $('#contactForm')
            .formValidation({  // validating Bootstrap form
                framework: 'bootstrap',

                // Feedback icons
                icon: {
                    valid: 'fa fa-check vam',
                    invalid: 'fa fa-remove vam',
                    validating: 'fa fa-gear vam'
                },

                // List of fields and their validation rules
                fields: {
                    firstnamefield: {
                        validators: {
                            notEmpty: {
                                message: 'First Name cannot be empty'
                            }
                        }
                    },
                    lastnamefield: {
                        validators: {
                            notEmpty: {
                                message: 'Last Name cannot be empty'
                            }
                        }
                    },
                    emailfield: {
                        validators: {
                            notEmpty: {
                                message: 'Email Address cannot be empty'
                            },
                            emailAddress: {
                                message: 'Address is not valid yet. Keep typying - toward something like: yourname@gmail.com'
                            }
                        }
                    },
                    messagefield: {
                        validators: {
                            notEmpty: {
                                message: 'Message cannot be empty'
                            }
                        }
                    }
                }
            })

            .on('success.form.fv', function (e) {

                e.preventDefault();                                 // Prevent form submission

                var $form = $(e.target),                            // Form instance
                        fv = $(e.target).data('formValidation');    // FormValidation instance

                // Do what you want here ...

                $("#reviewmodal")
                        .on("show.bs.modal", function () {

                            $("#reviewmodal").modal({                        // wire up modal
                                "backdrop": "static",
                                "keyboard": false,
                                "show": false
                            });

                            $(".btninreviewmodal").on("click", function (e) {   // wire up buttons
                                var reviewmodalresponse = e.target.id;
                                $("#reviewmodal").modal('hide');                // dismiss the dialog
                            });


                            $('#reviewfirstname').html($form.find('[name="firstnamefield"]').val());
                            $('#reviewlastname').html($form.find('[name="lastnamefield"]').val());
                            $('#reviewemail').html($form.find('[name="emailfield"]').val());
                            $('#reviewmessage').html($form.find('[name="messagefield"]').val());

                        })

                        .on("shown.bs.modal", function () {

                            $('#contactforminstructions')
                                    .html("Please make changes, then press 'Review and Send'");
                            $('#contactformsubinstruct').html('<p></p>');
                        })

                        .modal('show');

                //fv.defaultSubmit();
            });

    {% comment %}$("#reviewmodal")                                           // remove when hidden

            });

            .on("hidden.bs.modal", function () {
                $(".btninreviewmodal").off("click");
                $("#reviewmodal").destroy();
            }){% endcomment %};
});

</script>

{% endblock %}