<!-- index.html -->

{%  extends "base/base.html"  %}

{% block body %}

<link href = "static/slick/myslick.css" rel = "stylesheet">

<!-- Page -->

<!-- Main Screen -- A level xs-10 -->
<div class = "row" style = "padding-top: 3%;">
    <!-- Carousel -- xs-7 -->
    {% include "components/entercarousel.html" %}
    <!-- Announcements -- xs-5 -->
    {% include "components/announcements.html" %}
</div>

<!-- Page JavaScript -->
<div id = "Local Scripts">
<script src = "static/slick/slick.min.js"></script>
<script type = "text/javascript">
    $(document).ready(function () {
        $('.carousel-enter').slick({
            autoplay: true,
            dots: true,
            cssEase: 'ease',
            pauseOnHover: true,
            pauseOnDotsHover: true,
            swipe: true,
            arrows: false,
            autoplaySpeed: 4500
        });
    });
</script>
</div>
{% endblock %}
