

<!doctype html>

<head>
    <title>JoinOurStory.com: Home</title>
    <link href = "static/css/styles.css" rel = "stylesheet" type = "text/css"/>
    <style type = "text/css">

     * {
          font-family: "Gill Sans", sans-serif;
     }

    .mission_statement {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          font-size: 28px;
    }
    </style>
</head>

<body>
<img src="static/JOSLogo010115.png" alt="JOS Logo" style="height: 148px; width: 640px;">
<br><br><br>

<div class = "mission_statement">
    <p><br/></p>
    <p>
          <a href = "http://joinourstory.com" >JoinOurStory.com</a > enriches seniors’ lives with entertainment, opportunities for creative expression and places to share, offering:
    </p>
    <ul>
          <span style = "color: rgb(102,204,51);"><li>Exhilarating live performances featuring professional actors.</li></span>
          <span style = "color: rgb(51,204,204);"><li>A welcoming online community to create and share stories.</li></span>
          <span style = "color: rgb(255,51,51);"><li>TV programming that brings the community’s stories to life.</li></span>
    </ul>
    <p>
          This combination delivers a taste of show business magic, fellowship and a sense accomplishment that foster happier souls and healthier minds.
    </p>
    <br>
    <p style = "text-align: center; font-weight: bold; font-size: 84px;">
          Premiering  Fall 2015
    </p>
</div>
<div style = "text-align: center; font-size: 18px;">
    <p>
          <a href = "http://joinourstory.com">JoinOurStory.com</a> is a California benefit corporation dedicated to improving the lives of seniors.
    </p>
    <p>
          Email <a href = "mailto:info@joinourstory.com">info@joinourstory.com</a> for more information.
    </p>
    <p>
          &copy 2014
    </p>
</div>
</body>
</html>

