

<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <meta name = "description" content = "xxx">
    <meta name = "author" content = "xxx">
    <link rel = "icon" href = "../../favicon.ico">

    <title>JoinOurStory.com: Enter</title>

    <link href = 'http://fonts.googleapis.com/css?family=Lato:400|EB+Garamond|Cookie' rel = 'stylesheet'>

    <link href = "static/css/styles.css" rel = "stylesheet">

<style>
    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    /* Carousel base class */
    .carousel {
        height: 250px;
        margin-bottom: 30px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 250px;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 250px;
    }

</style>
    <link href = "static/slick/slick.css" rel = "stylesheet">
</head>
<body>
<div class = "container-fluid">
    <div class = "row">
        <!-- Main -->
        <div class = "col-md-11">
            <div class = "row" style = "padding: 3% 1%;">
              <!-- Logo -->
                <div class = "col-md-12">
                    <div>
                        <img src = "static/JOSLogo010115.png" alt = "JOS Logo" style = "opacity: 0.9; width: 60%;">
                    </div>
                </div>
            </div>
            <div class = "row" style="padding: 1%">
                <!-- Carousel Column -->
                <div class = "col-md-7">
                    <div class = "josboxred" >
                            <!-- Carousel -->
                            <div class = "your-class">
                                <div><div class = "josboxborder">
                                    <p class = "josheading">What is JoinOurStory?</p>
                                    <div>
                                    <p class="josbody">
                                        JoinOurStory offers our members friendship, a sense of accomplishment and a taste of show business magic, with:
                                        <ul>
                                            <span style = "color: rgb(102, 204, 51);"><li>Exhilarating live events featuring enjoyable writing workshops and performances by professional actors.<br><br></li></span>

                                            <span style = "color: rgb(51, 204, 204);"><li>A welcoming online community where members create and share stories.<br><br></li></span>

                                            <span style = "color: rgb(255, 51, 51);"><li>TV programming that brings the community’s stories to life.</li></span>
                                        </ul>
                                        <span style="font-style: italic; text-align: center;">JoinOurStory means happier souls and healthier minds!</span>
                                    </p>
                                    </div>
                                </div></div>
                                <div><div class = "josboxborder">
                                    <p class = "josheading">JoinOurStory Content:</p>
                                    <img class = "img-responsive" src = "static/JOS-Diagram2.png" alt = "JOS Diagram"
                                         style = "opacity: 0.9; padding: 10% 1%; display: block; margin-left: auto; margin-right: auto">
                                </div></div>
                                <div><div class = "josboxborder" style = "padding: 20% 5%;">
                                    <img class="img-responsive" src = "static/JOS-PnP-Circle.png" alt = "JOS Peeky and Pokey"
                                         style = "opacity: 0.9; height: 50%; display: block; margin-left: auto; margin-right: auto">
                                </div></div>
                            </div>
                     </div>
                </div>
                <!-- Announcements -->
                <div class = "col-md-5" style = "margin-top: 5em;">
                    <div class = "josboxblue">
                        <div>
                            <p class = "josheading" style="text-decoration: underline;">Announcements</p>
                            <div class="josheading" style="font-size: 2em;">
                            Coming this fall!
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Nav
        <div class = "col-md-1">
            <div>
            <ul class = "nav nav-pills nav-stacked">
              <li><a href = "#">One</a></li>
              <li><a href = "#">Two</a></li>
              <li><a href = "#">Three</a></li>
              <li><a href = "#">Four</a></li>
            </ul>
            </div>
        </div>  -->
    </div>
    <div class="row">
        <div class=".col-md-8 .col-md-offset-2">
            <div style = "padding-top: 1.75em; text-align: center; font-size: 1.125em;">
                <p>
                    Email <a href = "mailto:info@joinourstory.com">info@joinourstory.com</a> for more information.
                </p>
                <p>
                    &copy 2014
                </p>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript - at the end of the document so the pages load faster -->
<script src = "http://code.jquery.com//jquery-1.11.2.min.js"></script>
<script src = "http://code.jquery.com//jquery-migrate-1.2.1.min.js"></script>
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src = "static/slick/slick.min.js"></script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('.your-class').slick({
            autoplay: true,
            dots: true
        });
    });
</script>
</body>
