<!-- landingpage.html -->

{% extends "base/base.html" %}

{% block body %}

<style>

    body {
        background: url(static/img/Landing-Page-102915.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-size: 10px;
    }

    .container-fixed {
        min-width: 640px;
        min-height: 480px;
    }

    .btn-landingpage {
        color: #ffffff;
        background: url(static/img/gold-button-background.jpg);"
        background-repeat: no-repeat;
        font-family: 'abril-fatface', serif;
        font-size: 28px;
        font-weight: bold;
        height: 55px;
        margin-left: 45px;
        margin-top: 30px;
        text-align: center;
        width: 140px;
    }

    .btn-landingpage:hover,
    .btn-landingpage:focus,
    .btn-landingpage:active {
        box-shadow: inset 0 0 0 1px darkblue;
        color: darkblue;
    }

</style>

<body>

    <div class="container-fixed">

        <div style="position:fixed; right:50px;">
            <button class = "btn btn-lg btn-block btn-landingpage"
                    onclick = "location.href='/index'">
                Join Us
            </button>
        </div>

        <div class="row navbar-fixed-top">
          <div class="col-xs-12" style="padding-left: 20px;">
             <p style = "color:gray; font-family: 'Source Sans Pro', sans-serif; fon-size: 9px;">
                    JOS is a CA Benefit Corp. &copy 2014
             </p>
          </div>
        </div>

    </div>

</body>

{% endblock body %}
