<!-- BASE -->
<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "description" content = "Join Our Story Website">
    <link rel = "icon" href = "static/img/favicon.ico">

    <!-- scripts -->
    <link href = "static/css/styles.css" rel = "stylesheet">

    <style>

        .container-fluid {
            background-color: white;
            border: solid #000000 2px;
            float: left;
            margin-left: 15px;
            min-height: 550px;
            padding: 0 15px;
            width: 1024px;
        }

    </style>

    <title>JoinOurStory | {{ page_name }}</title>
</head>
<body>

<div class = "container-fluid" style = "" id = "entercontainer">
<div class = "row"><!-- Navigation Bar -->
    <div class = "col-xs-offset-3 col-xs-6 col-centered" style="padding-top: 60px;">
        <img src = "static/img/JOS_logo-June162015.png" alt = "JOS Logo" style = "height: 300px;">
        <p style="margin-top: 30px; text-align: center;">Coming This Fall!</p>
    </div>
    </div>
    <!-- <div class = "row">
        <div class = "col-xs-offset-10 col-xs-2" style = "padding-top: 60px;">
        <a class = "btn btn-lg" style = "color: white; background-color: #5bc0de;" href = "/contactus">Contact Us</a>
            </div>
        </div>     -->
    </div>

</body>
</html>