<!-- tempindex.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "description" content = "Join Our Story Website">
    <link rel = "icon" href = "static/img/favicon.ico">

    <!-- scripts -->
    {% include "base/scripts.html" %}

    <style>

        .container-fluid {
            background-color: white;
            border: solid #000000 2px;
            float: left;
            margin-left: 15px;
            min-height: 400px;
            padding: 0 15px;
            width: 1024px;
        }

    </style>

    <title>JoinOurStory | {{ page_name }}</title>
</head>
<body>
<div class = "container-fluid" id = "entercontainer">
<div class = "row"><!-- Navigation Bar -->
    <div class = "col-xs-11">
        <ul class = "nav nav-pills navbar-fixed-top" style = "margin-top: 30px; margin-left: 17px; padding-left:844px; background-color: white; width:1018px;" role = "navigation">
            <li>
                <a style = "font-size: 18pt; color: white; background-color: #5bc0de;" href = "/contactus">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
<div class = "row">
    <div class = "col-xs-11">
        <img src = "static/img/JOS_logo-Orange-June23.png" alt = "JOS Logo" style = "margin-top: 230px; margin-left:  370px; opacity: 0.95;">
    </div>
</div>
<div class = row" style="margin-top: 30px;">
    <div class = "col-xs-8 col-xs-offset-2 jossubheading">
        <p style = "text-align: center;">Premiering October, 2015</p>
    </div>
</div>


<div class = row" style="margin-top: 200px;"><!-- footer -->
    <div class = "col-xs-8 col-xs-offset-2" style = "font-size: .6em; text-align: center;">
    <p>
        Join Our Story is a California Benefit Corporation</br>
        &copy 2014
    </p>
</div>

</div>
</div>
</body>
</html>
