<!-- tempindex.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "description" content = "Join Our Story Website">
    <link rel = "icon" href = "static/img/favicon.ico">

    <!-- scripts -->
    {% include "base/scripts.html" %}
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>

    <style>

        .entercontainer {
            background: url(static/img/JOSLandingPageBackground102015.png);
            background-repeat: no-repeat;
            background-size: contain;
            border: solid #000000 1px;
            float: left;
            margin-left: 15px;
            min-height: 720px;
            padding: 15px 30px;
            width: 960px;
        }

    </style>

    <title>JoinOurStory | {{ page_name }}</title>
</head>
<body>
<div class = "entercontainer">
    <div class = "row"><!-- Row1: Logo and Button -->
        <!-- <div class="col-xs-3">
           <img src = "static/img/JOSLogo102015.png" alt = "JOS Logo" style = "height: 80px;">
        </div> -->
        <div class="col-xs-offset-10 col-xs-2">
            <button id = "buttonmodalsend"
                    type = "button"
                    class = "btn btn-success btn-lg btninreviewmodal"
                    onclick = "location.href='/contactus'">
                Join Us!
            </button>
        </div>
    </div>
    <div class = "row" style="margin-top: 135px;"><!-- Row2: Hollywood Heights -->
        <div class="col-xs-12">
            <p style = "color: white;
                        font-family: 'Dancing Script', cursive;
                        font-size: 144px;
                        font-weight:bold;
                        line-height: 95%;
                        text-align: center;
                        text-shadow: 0 0 2px black, 0 0 12px #fff, 0 0 11px orange, 0 0 17px orange, 0 0 22px orange;">
                Hollywood<br>Heights
            </p>
        </div>
    </div>
</div>


<!-- <div class = row style="margin-top: 150px;">
<p style = "text-align: center; margin-top: 65px; margin-left: 95px; color: white;">
Featuring:<br>
    <span style = "
        font-weight: bold;
        font-size: 3.5em;
        font-family: 'Abril Fatface';
        margin-top: 0;
        text-shadow: 0 0 2px black, 0 0 12px #fff, 0 0 11px orange, 0 0 17px orange, 0 0 22px orange;">
            Hollywood Heights
    </span>
</p>
</div> -->

<!-- footer
<div class = "col-xs-2" style = "color: white; font-size: .5em; text-align: center;">
    <p>
        JOS is a Cal Benefit Corp.</br>
        &copy 2014
    </p>
</div> -->
</body>
</html>
