
<!-- announcements: col-xs-3 col-xs-offset-1 -->



    <div>
        <div class = "josboxblue jossubheading" style = "padding:5%; text-align: center;">
            Whats New?<br><br>
            Coming this fall!
        </div>
    </div>
    <div style = "margin-top: 30px; padding-top: 5%; border: solid 1px lightgrey; box-shadow: 1px 1px 2px lightgrey;">
        <img src = "static/img/JOS-PnPCircle-012415.png"
             style = "display: block; margin-left: auto; margin-right: auto; width: 35%;"
             alt = "JOS Peeky / Pokey">
        <p class = "josbody" style = "text-align: center; margin: 5% 3%; font-size:.75em; font-style: italic;">JoinOurStory for happier souls and healthier minds.</p>
    </div>

