<!-- Enter Carousel Column -->
<style>

    .text-overlay {
        position: absolute;
        top: -5px;
        left: 10px;
        width: 260px;
        height: 40px;
        border: solid #000000 1px;
        background: white;
        color: black;
        font-family: "Lato";
        font-size: .6em;
        text-align: center;
        padding-top: 8px;
    }

    .carousel-enter img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

</style>

<div class="josboxred" style="margin-top: 0;">
    <p class = "text-overlay">Click to hear this JOS member's story:</p>
    <div class = "carousel-enter" style = "margin: 60px 0 30px;">
        <div id = "slide-pnp">
            <img src = "static/img/oldpeep1.png" alt = "People 1">
        </div>
        <div id = "slide-valprop">
            <img src = "static/img/oldpeep2.png" alt = "People 2">
        </div>
        <div id = "slide-valprop2">
            <img src = "static/img/oldpeep3.png" alt = "People 3">
        </div>
        <div id = "slide-valprop3">
            <img src = "static/img/oldpeep4.png" alt = "People 4">
        </div>
    </div>
</div>

<div class = "josboxblue" style = "margin-top: 30px; padding: 30px;">
    <div class = "jossubheading" style="text-align: center;">
        Whats New?<br><br>
        Coming this fall!
    </div>
</div>
