<!-- Enter Carousel Column -->
<style>

    .text-overlay {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 275px;
        height: 40px;
        border: solid #000000 1px;
        background: white;
        color: black;
        font-family: "Lato";
        font-size: .6em;
        text-align: center;
        padding-top: 8px;
        z-index: 1500;
    }

    .carousel-enter img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

</style>

<div style="margin-top: 0;">
    <p class = "text-overlay">Click to hear these JOS members' story:</p>
    <div class = "carousel-enter" style = "margin: 15px 0 10px;">
        <div id = "slide-1">
            <img src = "static/img/oldpeep1.png" alt = "People 1" style="width: 350px;">
        </div>
        <div id = "slide-2">
            <img src = "static/img/oldpeep2.png" alt = "People 2" style="width: 350px;">
        </div>
        <div id = "slide-3">
            <img src = "static/img/oldpeep3.png" alt = "People 3" style="width: 350px;">
        </div>
        <div id = "slide-4">
            <img src = "static/img/oldpeep4.png" alt = "People 4" style="width: 350px;">
        </div>
    </div>
</div>
