
<!-- sidenavigation.html -->
<p class = "jossubheading">Members:</p>

<p><button class = "josbutton" type = "button">Go to<br>My Screen</button></p>

<hr>

<p class = "jossubheading">Visitors:</p>


<p><button class = "josbutton" type = "button">Take a Tour</button></p>
<p><button class = "josbutton" type = "button">Ask Questions</button></p>
<p><button class = "josbutton" style = "font-size: 1.5em;" type = "button">Join</button></p>

<hr>

<p class = "jossubheading">Recruiting:</p>

<p><button class = "josbuttonsmall" type = "button">Log In</button></p>

<hr>

<p><button class = "josbuttonsmall" type = "button">Contact Us</button></p>
