<!-- sidenavigation.html -->

<div class = "col-xs-2 float-left float-top" style = "padding-top: 5%;">
    <p class = "jossubheading">Magnify:</p>
    <p class="jossubheading" style="text-align: center">+  -<p>

    <hr>

    <p><button class = "josbuttonmediumred" type = "button" onclick = "history.back()">Back</button></p>

    <p class = "jossubheading">Members:</p>

    <p><button class = "josbutton" type = "button" onClick = "location.href = 'index'">My Screen</button></p>

    <p class = "jossubheading">Visitors:</p>


    <p><button class = "josbutton" type = "button">Take<br>a Tour</button></p>
    <p><button class = "josbutton" type = "button">Ask Questions</button></p>
    <p><button class = "josbutton" style = "font-size: 1.5em;" type = "button">Join</button></p>

    <p class = "jossubheading">Recruiting:</p>

    <p><button class = "josbuttonmedium" type = "button">Log In</button></p>

    <hr>

    <p><button class = "josbuttonmedium" type = "button" onClick = "location.href = 'contactus'">Contact Us</button></p>
</div>